@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="clearfix"></div>


<table id="userTable" class="display">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Login</th>
        <th>Telephone</th>
        <th>User Type Name</th>
    </tr>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            let columns = [
                { "data": "Id", "name": "Id", "autoWidth": true },
                { "data": "Name", "name": "Name", "autoWidth": true },
                { "data": "Email", "name": "Email", "autoWidth": true },
                { "data": "Login", "name": "Login", "autoWidth": true },
                { "data": "Telephone", "name": "Telephone", "autoWidth": true },
                { "data": "UserType", "name": "User Type Name", "autoWidth": true }
            ];

            bindDataTable("#userTable", "/user/QueryUsers", columns)
        });
    </script>
}